ACTION=="add", SUBSYSTEMS=="usb", ATTRS{product}=="URG-Series USB Driver", GROUP="dialout", MODE="0666", SYMLINK+="ttyUSB_URG"
ACTION=="add", SUBSYSTEMS=="usb", ATTRS{product}=="RT-USB-9AXIS-00", GROUP="dialout", MODE="0666", SYMLINK+="ttyUSB_IMU"
